*#*
*~*

play-2.0-beta
webapp/logs
webapp/project/project
webapp/project/target
webapp/target
webapp/tmp

web-aggregator.sublime-project
web-aggregator.sublime-workspace
webapp/.classpath
webapp/.project
webapp/.settings
webapp/.cache
