@()<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/> 
    <title>George Adams IV - Web Aggregator</title>
    <link href="posts.xml" type="application/atom+xml" rel="alternate" title="Posts ATOM Feed" />
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/style.min.css")"/>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" 
             data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Web Aggregator</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="posts"><a href="/">Home</a></li>
              <li class="about"><a href="about">About This Site</a></li>
            </ul>
            <form action="search" id="search" 
                  class="navbar-search pull-right">
              <input class="input-large search-query" type="text" 
                     placeholder="Search"/>
              <button class="btn" type="submit">Go</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="posts container" data-role="page">
      <header class="page-header" data-role="header">
        <h1>George Adams IV 
            <small>Public Feed 
                <a href="posts.xml" title="ATOM Feed">
                    <img width="12px" height="12px" src="@routes.Assets.at("images/glyphicons_327_rss.png")"/>
                </a>
            </small>
        </h1>
        <p>An aggregation of my public activity on the Internet.</p>
        <p class="no-support error">
          This browser is not supported.
          Please <a href="http://browsehappy.com/">upgrade your browser</a>.
        </p>
      </header>
      <section class="content" data-role="content">
        <div id="feed" class="row">
          <div class="span9">
            <div class="post-list">
              <p class="loading">Loading Content.</p>
            </div>
            <div class="more-posts">
              <p><a class="btn" href="/posts.json?skip=">More</a></p>
            </div>
          </div>
          <div class="span3 meta">
            <div class="about">
              <h4>About Me</h4>
              <p>I am a Software Engineer at Brand Networks, Inc.
                My tools of choice right now are 
                <a href="http://www.balsamiq.com/products/mockups">Balsamiq Mockups</a> (wireframing)
                and a host of JavaScript and CSS libraries including
                <a href="http://ender.jit.su/">Ender</a>,
                <a href="http://d3js.org/">D3</a>,
                <a href="http://documentup.com/geowa4/pajamas">Pajamas</a>,
                <a href="http://documentcloud.github.com/underscore/">Underscore</a>, and
                <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>, to name a few.
              </p>
            </div>
            <div>
              <h4>Other Sites</h4>
              <ul class="unstyled">
                <li><a href="https://www.facebook.com/geowa4">Facebook</a></li>
                <li><a href="https://github.com/geowa4/">GitHub</a></li>
                <li><a href="https://plus.google.com/107365737413130005765">Google+</a></li>
                <li><a href="https://www.linkedin.com/in/geowa4">LinkedIn</a></li>
                <li><a href="http://stackoverflow.com/users/50214/geowa4">StackOverflow</a></li>
                <li><a href="https://twitter.com/geowa4">Twitter</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <p>
          This work is licensed under a
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
            Creative Commons Attribution 3.0 Unported License
          </a>.
        </p>
      </footer>
    </div> <!-- /posts container -->
    <div class="about container" data-role="page">
      <header class="page-header" data-role="header">
        <h1>About This Site</h1>
        <p>What this site is and why I built it.</p>
      </header>
      <section class="content" data-role="content">
        <div class="row">
          <div class="span9">
            <div>
              <h3>What Is This Site?</h3>
              <p>
                First thing's first: this site is a work in progress. If you 
                find bugs or have suggestions for things I should be doing better, 
                please report them to me on my GitHub for this site. The link is 
                on the right.
              </p>
              <p>
                Simply put, this site is an aggregation of my public activity
                on the internet. If you wanted to stalk me, it was really 
                difficult. My activity was scattered. Now it can be contained
                in one place under my control. Some things are aggregated, and 
                some aren't. For instance, I don't really feel like including
                Twitter and Facebook, because I already have Google+. Maybe 
                more services will be added in the future, but I make no 
                guarantees.
              </p>
            </div>
            <div>
              <h3>Why Build This Site?</h3>
              <p>
                There are a lot of answers to this one. It all started 
                because I wanted to expand my knowledge of Scala and use
                the libraries listed in the "Site Meta".
              </p>
              <p>
                Then I had the idea to build this site. I always hated that 
                I had no central place to find something that I had said or 
                done. Now that everything is pretty much aggregated, I can 
                start learning another technology to search for content.
                Without the ability to search, I really only have a long 
                list, which is only mildly useful.
              </p>
              <p>
                Lastly, résumés suck. If you want to be noticed, build something.
              </p>
            </div>
            <div>
              <h3>What's Next?</h3>
              <p>
                Search. I'm thinking of jut using regular expressions for 
                a very basic search. I could use Apache Solr or Elastic Search.
                We'll just have to wait and see.
              </p>
              <p>
                Other than that, I just need to clean things up &endash; nothing too major.
              </p>
            </div>
          </div>
          <div class="span3 meta">
            <h4>Site Meta</h4>
            <table class="table table-striped table-condensed">
              <tbody>
                <tr>
                  <td>
                    <a href="https://github.com/geowa4/web-aggregator">
                      This Site's Source
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="https://github.com/playframework/Play20">
                      Play! 2.0
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="https://github.com/foursquare/rogue">
                       Rogue
                    </a>
                  </td>
                </tr>

                <tr>
                  <td>
                    <a href="http://www.mongodb.org/">
                       MongoDB
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="http://ender.jit.su/">
                      Ender
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="http://d3js.org/">
                      D3
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="http://documentup.com/geowa4/pajamas">
                      Pajamas
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="http://documentcloud.github.com/underscore/">
                      Underscore
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="http://documentcloud.github.com/backbone/">
                      Backbone
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="http://twitter.github.com/bootstrap/">
                      Bootstrap
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
    <script src="@routes.Assets.at("ender/ender.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/models/postModel.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/views/postView.min.js")"></script>
    <script defer src="@routes.Assets.at("javascripts/app.min.js")"></script>
  </body>
</html>
