@(title: String)(head: Html)(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
	<link href="@routes.Assets.at("css/style.css")" type="text/css" rel="stylesheet" media="screen"/>
	<script src="@routes.Assets.at("javascripts/lib/jquery/js/jquery-1.6.2.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/lib/jquery/js/jquery-ui-1.8.16.custom.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/lib/underscore.js")"></script>
	<script src="@routes.Assets.at("javascripts/lib/backbone.js")"></script>
	@head
  </head>
  <body>
	<header>
	  <hgroup>
		<h1>@title</h1>
	  </hgroup>
	</header>
	<section id="sidebar">
	  <ul>
		<li><a href="/">My Posts</a></li>
		<li><a href="/about">About This Site</a></li>
	  </ul>
	</section>
    <section id="content">@content</section>
  </body>
</html>
