@(title: String)(head: Html)(content: Html = Html.empty)

<!DOCTYPE html>
<html>
  <head>
    <title>George Adams IV - Was It Something I Said?</title>
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" media="screen">
	<link href="@routes.Assets.at("css/style.css")" type="text/css" rel="stylesheet" media="screen"/>
	<script src="@routes.Assets.at("javascripts/lib/head.min.js")"></script>
	<script>
	  head.js(
	  "@routes.Assets.at("javascripts/lib/jquery/js/jquery-1.7.1.min.js")",
	  "@routes.Assets.at("javascripts/lib/jquery/js/jquery-ui-1.8.16.custom.min.js")",
	  "@routes.Assets.at("javascripts/lib/underscore.js")",
	  "@routes.Assets.at("javascripts/lib/backbone.js")",
	  "@routes.Assets.at("javascripts/models/post.js")",
	  "@routes.Assets.at("javascripts/views/post-list.js")",
	  "@routes.Assets.at("javascripts/routes.js")"
	  );
	</script>
	@head
  </head>
  <body>
	<div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="">Was It Something I Said?</a>
          <ul class="nav">
            <li class="active"><a href="">Home</a></li>
            <li><a href="about">About</a></li>
          </ul>
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Search"/>
            <button class="btn" type="submit">Go</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>George Adams IV <small>Public Feed</small></h1>
        </div>
        <div class="row">
          <div id="feed" class="span10">
            <h2>Main content</h2>
          </div>
          <div id="post-meta" class="span4">
            <h3>Secondary content</h3>
          </div>
        </div>
      </div>
	  <footer>
		<p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"> Creative Commons Attribution 3.0 Unported License</a>.</p>
	  </footer>
    </div> <!-- /container -->
  </body>
</html>
